@font-face {
  font-family: 'Nunito';

  src: url('./assets/fonts/Nunito-Regular.ttf'), url('./assets/fonts/Nunito-Medium.ttf'),
    url('./assets/fonts/Nunito-SemiBold.ttf'), url('./assets/fonts/Nunito-Bold.ttf');
}

button.react-multiple-carousel__arrow {
  background-color: rgba(102, 102, 102, 0.6) !important;
}
button.react-multiple-carousel__arrow:hover {
  background-color: rgba(102, 102, 102, 0.8) !important;

}
button.react-multiple-carousel__arrow--left{
  transform: translateX(-30px);
}
