@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Bold.ttf');
  font-weight: 700;
}
