@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.ttf');
  src: url('./assets/fonts/Nunito-Medium.ttf');
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
  src: url('./assets/fonts/Nunito-Bold.ttf');
}
